* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    /* box-sizing : border-box; */
}

.sidebar-header img {
    width: 42px;
    border-radius: 50%;
    background-color: aquamarine;
}